#Knowledgessection{
    height: min-content;
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardlogo{
    border:var(--quaternary-color) solid 3px;
    border-radius: 10px;
    padding: 20px;
    flex-basis: 60px;
    margin: 15px;
    min-width: 120px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tertiary-color);
}

.logo{
    width: 50px;
    height: 50px;
}

h4{
    color: var(--quaternary-color);
}