button{
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--quaternary-color);
    font-weight: 700;
    cursor: pointer;
}

@media (max-width:605px){
    button{
        font-size: 18px;
    }
}

@media (max-width:450px){
    button{
        font-size: 15px;
    }
}

@media (max-width:340px){
    button{
        font-size: 12px;
    }
}
